<%once>
  use mfile_init;
  mfile_init::LoadGlobal();
  my $Global = $mfile_init::Global;
  info("start.html: globals loaded");
</%once>

<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>MFILE <% $Global->{'mfilevernum'} %></title>
   <link rel="stylesheet" type="text/css" href="css/start.css" />
</head>

<body>
<script><& /mfile-mason/js/jquery.js &></script>
<script><& /mfile-mason/js/01init.js &></script>
<script><& /mfile-mason/js/02ldap.js &></script>
<script><& /mfile-mason/js/03cook.js &></script>
<script><& /mfile-mason/js/04auth.js &></script>
<script><& /mfile-mason/js/05menu.js &></script>
<script><& /mfile-mason/js/06code.js &></script>
<script><& /mfile-mason/js/07file.js &></script>
<script><& /mfile-mason/js/08rest.js &></script>

<!-- foobar is a hidden field in the DOM -->
<input type="hidden" id="foobar" value="" />

<div class="abovebox" id="title">
<div class="subbox" style="font-size: 24px; width: 80px"><strong>MFILE</strong></div>
<div class="subbox" id="versionbox" style="width: 50px"><% $Global->{'mfilevernum'} %></div>
<div class="subbox" style="width: 480px"></div>
<div class="subbox" id="userid"></div>
</div>

<div class="boxtop" id="header">
   <div class="subbox" id="topmesg" style="width: 640px"></div>
   <div class="subbox" id="codebox" style="width: 184px"></div>
</div>

<div class="mainarea" id="mainarea">
mainarea placeholder (activate Firebug console and then reload page to
see what's wrong)
</div>

<div class="single" id="bothelp">
</div>

<div class="boxbot" id="result">
</div>

<div class="dbstatus" id="dbstatus">
<% $Global->{'dbvernum'} %>
</div>

</body>
</html>

