<%flags>
 inherit => 'init.mas'
</%flags>

<%args>
 %IntConfig
 %ExtConfig
</%args>

<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>MFILE</title>
   <link rel="stylesheet" type="text/css" href="css/start.css" />
</head>

<body>
<title>MFILE <% $IntConfig{'mfilevernum'} %></title>
<script src="js/jquery.js"></script>
<script src="js/01init.js"></script>
<script src="js/02ldap.js"></script>
<script src="js/03cook.js"></script>
<script src="js/04auth.js"></script>
<script src="js/05menu.js"></script>
<script src="js/06code.js"></script>
<script src="js/07file.js"></script>
<script src="js/08rest.js"></script>

<!-- foobar is a hidden field in the DOM -->
<input type="hidden" id="foobar" value="" />

<div class="abovebox" id="title">
<div class="subbox" style="font-size: 24px; width: 80px"><strong>MFILE</strong></div>
<div class="subbox" id="versionbox" style="width: 50px"><% $IntConfig{'mfilevernum'} %></div>
<div class="subbox" style="width: 480px"></div>
<div class="subbox" id="userid"></div>
</div>

<div class="boxtop" id="header">
   <div class="subbox" id="topmesg" style="width: 640px"></div>
   <div class="subbox" id="codebox" style="width: 184px"></div>
</div>

<div class="mainarea" id="mainarea">
mainarea placeholder (activate Firebug console and then reload page to
see what's wrong)
</div>

<div class="single" id="bothelp">
</div>

<div class="boxbot" id="result">
</div>

<div class="dbstatus" id="dbstatus">
<% $IntConfig{'dbvernum'} %>
</div>

</body>
</html>


